FROM centos:centos7 as builder

# Install required packages
RUN yum update -y -q
RUN yum groupinstall -y Development Tools
RUN yum install -y epel-release
RUN yum install -y -q \
      autoconf \
      automake \
      autopoint \
      gcc \
      gcc-c++ \
      curl-devel \
      expat-devel \
      gettext-devel \
      openssl-devel \
      perl-devel \
      zlib-devel \
      make \
      libyaml-devel \
      libffi-devel \
      readline-devel \
      zlib-devel \
      gdbm-devel \
      ncurses-devel \
      bzip2 \
      which \
      byacc \
      ccache \
      distcc \
      unzip

ENV LANG en_US.UTF-8
ENV LC_ALL en_US.UTF-8
RUN localedef -c -f UTF-8 -i en_US en_US.UTF-8

<%= Snippets.new.populate %>

FROM centos:centos7
MAINTAINER GitLab Inc. <support@gitlab.com>
COPY --from=builder / /
